

#wpr-chrome {
    margin-top: 3em;
    padding: 15px;
    min-width: 1024px;
    min-height: 50em;
    background-color: #fff !important;
    font-size: 14px;
    font-family: "Helvetica", "Calibri", "Tahoma", "Arial";
}

#wpr-chrome h2 {
    font-size: 28px;;
    padding-bottom: 1em;
    padding-top: 0.5em;
}

#breadcrumb ul {
    margin: 0;
    margin: -15px;
    margin-bottom: 0;
    padding: 0;
    border: 1px solid #c0bebe;
    background-color: #f0f0f0;
    list-style:  none;
}


#breadcrumb li a {
    display: inline-block;
    padding: 10px 30px;
    color: #a7a6a6;
    text-decoration: none;
    font-family: ;
}

#breadcrumb li {
	margin-bottom: 0;
	display: inline-block;
}

#breadcrumb li:after {
	content: '>';
	font-family: "Calibri", "Trebuchet MS", Arial;;

}

#breadcrumb li:last-child:after {
	content:'';
}

#breadcrumb li a:hover {
    color: #000;
    cursor: default;
}

.wpr-button {
	padding: 5px 14px;
    border: 0 !important;
    background-color: #ccc !important;
    box-shadow: 0px 0px 5px #888 inset;
    color: #fff !important;
    text-transform: uppercase;
    font-size: 11px;
    text-decoration: none;
    cursor: default;
}

.wpr-action-button {
    padding: 5px 14px;
    border: 0 !important;
    background-color: #4A4A4A !important;
    box-shadow: 0px 0px 5px #888 inset;
    color: #fff !important;
    text-transform: uppercase;
    font-size: 11px;
    text-decoration: none;
}

.wpr-action-button:hover {
	background-color: #ff5c32 !important;
}

.wpr-list-wrapper {
    padding-top: 40px;
    background-color: #989898;
}
#autoresponder-manage-header:after {
    display: block;
    clear:both;
    content:'';
}
.wpr-list-content {
    background-color: #fff;
}

.wpr-table {
	display: table;
}

.wpr-autoresponder-list-item {
    position:  relative;
    display: table-row;
    padding: 10px;
}

.wpr-autoresponder-list-item > div {
	vertical-align: top;
}

.wpr-autoresponder-list-item.odd {
	background-color: #f8f5f5;
} 

.autoresponder-messages-list {
    float: right;
    margin: 10px;
    padding: 5px;
    width: 500px;
    border: 1px solid #9c9c9c;
    background-color: #f6efc2;
    text-align: center;
}

.autoresponder-messages-list:after {
    display: block;
    clear:both;
    content: '';
}
.autoresponder-messages-list h2 {
    margin: 0;
    padding: 0;
    text-align: left;
    font-size: 14px;;
}

.autoresponder-messages-list select {
    display:block;
    width: 270px;
    height: 200px !important;
}

.autoresponder-message-actions input {
    margin-top: 20px;
   width: 200px;;
}

.wpr-autoresponder-list-item:after {
    display: block;
clear:both;
    content: '';;
}

.wpr-autoresponder-list-item h3 {
    margin: 0;
    padding: 0;
    color: #909090;
    font-weight: normal;
    font-size: 12px;
}

.autoresponder-message-actions {
    float:right;
    width: 220px;
}

#autoresponder-manage-header {
    padding: 10px 10px;
}

.wpr-autoresponder-overview {
    float:left;
    margin: 0.5em;
    padding: 10px;
    min-height: 60px;
    width: 20%;
    position: relative;
}

h2.wpr-autoresponder-title {
    margin: 0 !important;
    padding:0 !important;

    font-size: 16px;;

}

h2.wpr-autoresponder-title a {
    color: #ff5c32;
    text-decoration: none;
}

.wpr-autoresponder-action-items {
    clear:both;
    padding-top: 10px;;
}

.wpr-overview-statistic {
    display: block;;
}

.wpr-autoresponder-overview-heading {
    margin: -10px;
    margin-bottom: 5px;
    padding: 5px;
    background-color: #7f7d7d;
    color: #fff;;;
}
.wpr-table {
	width: 100%;
}
.empty-list-message {
	padding: 3em;
	text-align: center;
}


.wpr-autoresponder-messages {
	position: relative;
	padding: 0;
	margin-top: 1em;
	padding-left: 1em;
	width: 39%;
	max-height: 130px;
	float:left;
	background-color: #fff;
	overflow-y: auto;
	border: 	0.1em solid #ccc;
	margin-right: 1em;

	word-wrap: break-word;
	overflow: hidden;
	margin-bottom: 1em;
}

.wpr-autoresponder-action-items a {
    display: block;
    float:left;
}

.wpr-autoresponder-action-items a:after {
    content: '|';
    margin-left: 1em;
    cursor: default;
    text-decoration: none;
    margin-right: 1em;
}

.wpr-autoresponder-action-items a:last-child:after {
    content: '';
}

.wpr-autoresponder-messages h2 {
	background-color: #ddd;
	font-size: 18px;
	margin: -10px;
	margin-left: -15px;
	padding-left: 0.5em;
	
}



.wpr-autoresponder-list-item .title-actions {
	padding: 1em 1em;
}

.title-actions {
	width: 30%;
	float:left;
}

.empty {
	text-align: center;
}

.paging .before {
    border: 1px solid #ccc;
}

#autoresponder-add-form label {
	width: 250px;
	display: inline-block;
}

#autoresponder-add-form label small {
    padding-top: 10px;
    display: block;
    padding-bottom: 10px;
}

#wpr-chrome .wpr-autoresponder-messages h2 {
    font-size: 17px;
    padding: 10px 0 1px 10px ;
}


.wpr-chrome ul {
    list-style: disc;
    padding: 0 0 0 20px;;
}