dd {
  margin: 0 0 0 40px;
}
dl,menu,ol,ul {
  margin: 1em 0;
}
sub {
  bottom: -0.25em;
}
p,pre {
  margin: 1em 0;
}
h3 {
  font-size: 1.17em;
  margin: 1em 0;
}
a:focus {
  outline: thin dotted;
}
html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}
dfn {
  font-style: italic;
}
h4 {
  font-size: 1em;
  margin: 1.33em 0;
}
legend {
  border: 0;
  padding: 0;
  white-space: normal;
  *margin-left: -7px;
}
small {
  font-size: 75%;
}
h5 {
  font-size: 0.83em;
  margin: 1.67em 0;
}
body {
  margin: 0;
}
button::-moz-focus-inner,input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
img {
  border: 0;
  -ms-interpolation-mode: bicubic;
}
sup {
  top: -0.5em;
}
pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}
h6 {
  font-size: 0.75em;
  margin: 2.33em 0;
}
article,aside,details,figcaption,figure,footer,header,hgroup,nav,section,summary {
  display: block;
}
sub,sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
blockquote {
  margin: 1em 40px;
}
html,button,input,select,textarea {
  font-family: sans-serif;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
input[type="search"]::-webkit-search-decoration,input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
}
menu,ol,ul {
  padding: 0 0 0 40px;
}
b,strong {
  font-weight: bold;
}
textarea {
  overflow: auto;
  vertical-align: top;
}
form {
  margin: 0;
}
figure {
  margin: 0;
}
svg:not(:root) {
  overflow: hidden;
}
q:before,q:after {
  content: '';
  content: none;
}
q {
  quotes: none;
}
mark {
  background: #ff0;
  color: #000;
}
abbr[title] {
  border-bottom: 1px dotted;
}
[hidden] {
  display: none;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
button,input {
  line-height: normal;
}
button,input,select,textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
  *vertical-align: middle;
}
nav ul,nav ol {
  list-style: none;
  list-style-image: none;
}
input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}
button,input[type="button"],input[type="reset"],input[type="submit"] {
  cursor: pointer;
  -webkit-appearance: button;
  *overflow: visible;
}
a:hover,a:active {
  outline: 0;
}
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
audio,canvas,video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}
input[type="checkbox"],input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
  *height: 13px;
  *width: 13px;
}
button[disabled],input[disabled] {
  cursor: default;
}
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}
* {
  box-model: border-box;
}
pre,code,kbd,samp {
  font-family: monospace, serif;
  _font-family: 'courier new', monospace;
  font-size: 1em;
}
h2 {
  font-size: 1.5em;
  margin: 0.83em 0;
}

/* Useful Mixins */

.one-liner {
  white-space: nowrap;
}

.rounded(@radius) {
  -moz-border-radius: @radius;
  -webkit-border-radius: @radius;
  border-radius: @radius;
}


.rounded-top-left(@radius) {
  -moz-border-radius-topleft: @radius;
  -webkit-border-top-left-radius: @radius;
  border-top-left-radius: @radius;
}
.rounded-bottom-left(@radius) {
  -moz-border-radius-bottomleft: @radius;
  -webkit-border-bottom-left-radius: @radius;
  border-bottom-left-radius: @radius;
}

.rounded-bottom-right(@radius) {
  -moz-border-radius-bottomright: @radius;
  -webkit-border-bottom-right-radius: @radius;
  border-bottom-right-radius: @radius;
}

.rounded-top-right(@radius) {
  -moz-border-radius-topright: @radius;
  -webkit-border-top-right-radius: @radius;
  border-top-right-radius: @radius;
}





td.message-title {
  width: auto;
}

#autoresponder-add-form {
  label {
    width: 250px;
    display: inline-block;
    small {
      padding-top: 10px;
      display: block;
      padding-bottom: 10px;
    }
  }
}
.wpr-action-button:hover {
  background-color: #ff5c32 !important;
}
.wpr-action-button {
  padding: 5px 14px;
  border: 0 !important;
  background-color: #4A4A4A !important;
  box-shadow: 0px 0px 5px #888 inset;
  color: #fff !important;
  text-transform: uppercase;
  font-size: 11px;
  text-decoration: none;
}

a.wpr-action-button {
  text-align: center;
  padding: 5px;
}
.wpr-button {
  padding: 5px 14px;
  border: 0 !important;
  background-color: #ccc !important;
  box-shadow: 0px 0px 5px #888 inset;
  color: #fff !important;
  text-transform: uppercase;
  font-size: 11px;
  text-decoration: none;
  cursor: default;
}
.wpr-autoresponder-overview-heading {
  margin: -10px;
  margin-bottom: 5px;
  padding: 5px;
  background-color: #7f7d7d;
  color: #fff;
}
.wpr-autoresponder-overview {
  float:left;
  margin: 0.5em;
  padding: 10px;
  min-height: 60px;
  width: 10%;
  position: relative;
}
.wpr-table {
  display: table;
  width: 100%;
}
.empty {
  text-align: center;
}
#autoresponder-manage-header {
  padding: 10px 10px;
}
.autoresponder-manage {
  .day-index {
    font-size: 17px;
    vertical-align: middle;
    text-transform: uppercase;
  }
}
.autoresponder-messages-list:after {
  display: block;
  clear:both;
  content: '';
}
.autoresponder-messages-list {
  float: right;
  margin: 10px;
  padding: 5px;
  width: 500px;
  border: 1px solid #9c9c9c;
  background-color: #f6efc2;
  text-align: center;
  select {
    display:block;
    width: 270px;
    height: 200px !important;
  }
  h2 {
    margin: 0;
    padding: 0;
    text-align: left;
    font-size: 14px;
  }
}
.wpr-autoresponder-list-item.odd {
  background-color: #f8f5f5;
}
.wpr-list-content {
  background-color: #fff;
}
#wpr-chrome.autoresponder-manage {
  .row.head {
    background-color: #a0a0a0;
    .column.message-title {
      font-size: 18px;
    }
  }
  .row {
    background-color: #ccc;
    .column.message-title {
      padding: 15px;
      max-width: 600px;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
      a {
        font-size: 16px;
        color: #f04040;
        font-weight: normal;
      }
    }

    .column.edit-link {
      padding: 15px;
      width: 5%;
    }
    .column.day-index {
      padding: 15px;
      width: 70px;
    }
    .column {
      height: 100%;
      display: table-cell;
    }
    .column.delete-link {
      padding: 15px;
      width: 5%;
      a {
        color: #f00;
      }
    }
  }
  .row:after {
    content: '';
    display: block;
    clear:both;
  }
}
.title-actions {
  width: 40%;
  float:left;
}
.wpr-autoresponder-list-item {
  position:  relative;
  display: table-row;
  padding: 10px;
  h3 {
    margin: 0;
    padding: 0;
    color: #909090;
    font-weight: normal;
    font-size: 12px;
  }
  .title-actions {
    padding: 1em 1em;
  }
  &> {
    div {
      vertical-align: top;
    }
  }
}
#wpr-chrome {
  margin-top: 10px;
  padding: 15px;
  min-width: 1024px;
  min-height: 50em;
  background-color: #fff !important;
  font-size: 14px;
  font-family: "Helvetica", "Calibri", "Tahoma", "Arial";


  .wpr-autoresponder-messages {
    h2 {
      font-size: 17px;
      padding: 10px 0 1px 10px;
    }
  }
  h2 {
    font-size: 28px;
    padding-bottom: 0.5em;
    padding-top: 0em;
  }
}
h2.message-title {
  font-size: 19px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow-wrap: hidden;
  max-width: 100%;
  margin: 0;
  padding: 0;
}
.wpr-autoresponder-action-items {
  clear:both;
  padding-top: 10px;
  a {
    display: block;
    float:left;
  }
  a:last-child:after {
    content: '';
  }
  a:after {
    content: '|';
    margin-left: 1em;
    cursor: default;
    text-decoration: none;
    margin-right: 1em;
  }
}
.paging {
  .before {
    border: 1px solid #ccc;
  }
}
.empty-list-message {
  padding: 3em;
  text-align: center;
}
.autoresponder-message-actions {
  float:right;
  width: 220px;
  input {
    margin-top: 20px;
    width: 200px;
  }
}
#autoresponder-manage-header:after {
  display: block;
  clear:both;
  content:'';
}
.wpr-list-wrapper {
  padding-top: 40px;
  background-color: #989898;
}

.hide {
  display: none;
}

.wpr-error {
  border: 1px solid #ccc;
  background-color: #E9FF21;
  padding: 10px;
  margin-bottom: 10px;
}
#breadcrumb {
  ul {
    margin: 0;
    margin: -15px;
    margin-bottom: 0;
    padding: 0;
    border: 1px solid #c0bebe;
    background-color: #f0f0f0;
    list-style:  none;
  }
  li:last-child:after {
    content:'';
  }
  li {
    margin-bottom: 0;
    display: inline-block;
    a {
      display: inline-block;
      padding: 10px 30px;
      color: #a7a6a6;
      text-decoration: none;

    }
    a:hover {
      color: #000;
      cursor: default;
    }
  }
  li:after {
    content: '>';
    font-family: "Calibri", "Trebuchet MS", Arial;
  }
}
.autoresponder-manage#wpr-chrome {
  table {
    font-size: 12px;
  }
  #wpr-add-message {
    float: right;
    margin-bottom: 20px;
  }

  .autoresponder-manage {
    clear:both;
  }
}

.compose_message {

  #post-compose-subject {
    height: 40px;
    width: 750px;
    padding: 5px 10px;
    font-size: 22px;
  }

  #compose-sidebar, #custom-fields-sidebar {
    float:right;
    width: 270px;
    border: 1px solid #ccc;
    background-color: #f0f0f0;
    padding: 15px;
    line-height: 1.5em;
    margin-right: 20px;

    ul {
      list-style: disc;
      padding: 0 0 0 15px;
    }

    h2 {
      font-size: 19px;
      font-weight: normal;
      margin: 0;
      padding: 0;
    }

    p {
      margin-top: 0;
    }
  }

  #compose-sidebar {

    #add_autoresponder_button {
      display: block;
      width: 275px;
    }

    #autoresponder_add_cancel {
      display: block;
      padding: 0
    }

    #autoresponder_add_cancel, #add_autoresponder_button {
      width: 275px;
      margin-top: 10px;
    }
  }

  #custom-fields-sidebar {
    clear:right;
    margin-top: 10px;
    p {
      margin-top: 5px;
      line-height: 1.5em;
    }
  }

  #autoresponder-name-sidebar {
    padding: 0;
    .one-liner;
    max-width: 270px;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 5px 0 15px 0;
  }

  #composition-section {
     width: 750px;
     padding-top: 10px;
     position: relative;

    .ui-widget-content {

      background: none transparent;
      border: 0;

      .ui-tabs-nav {
        display: inline-block;
        clear:none;
        position: absolute;
        right: 15px;
        li {
          margin-right: 3px;
          margin-bottom: 0;
          padding-bottom: 0;

          &.ui-state-active {
            @activeColor: #FABD4B;
            border: 1px solid @activeColor;
            background-color: @activeColor;
            a {
              color: #fff;
              font-weight: bold;
            }
          }

          &.ui-tabs-selected {
            position: relative;
            top: -2px;
            height:40px;
          }

          &.ui-state-hover {
            @hoverColor: #B3DE2B;
            border: 1px solid @hoverColor;

            background-color: @hoverColor;
            a {
              color: #fff;
            }
          }
        }
        .ui-state-default a {
          color: #000;
          font-size: 12px;
          font-weight: normal;
        }
      }

      .ui-widget-header {
        background: none transparent;
        border: 0;
        .ui-state-default {
          .rounded(0);

          a {
            padding: 5px 10px;
          }
        }
      }
    }


    .tab-content {
      &:after {
        content: '';
        display: block;
        clear:left;
      }
      position:absolute;
      top:32px;

      clear:left;

      background-color: #F6F6F6;
      border: 1px solid #ccc;
      padding: 10px;
    }




    #rich_body {

        .tab-content;

        #rich_body_field {
          width: 715px;
          height: 430px;
        }
    }

    #text_body {
      .tab-content;
      #text_body_field {
        width: 715px;
        height: 430px;
      }
    }





  }
}

.wpr-autoresponder-messages {
  position: relative;
  padding: 0;
  margin-top: 1em;
  padding-left: 1em;
  width: 39%;
  max-height: 130px;
  float:left;
  background-color: #fff;
  overflow-y: auto;
  border: 	0.1em solid #ccc;
  margin-right: 1em;
  word-wrap: break-word;
  overflow: hidden;
  margin-bottom: 1em;
  h2 {
    background-color: #ddd;
    font-size: 18px;
    margin: -10px;
    margin-left: -15px;
    padding-left: 0.5em;
  }
}
.wpr-overview-statistic {
  display: block;
}
h2.wpr-autoresponder-title {
  margin: 0 !important;
  padding:0 !important;
  width: 440px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  font-size: 16px;
  a {
    color: #ff5c32;
    text-decoration: none;
  }
}
.wpr-autoresponder-list-item:after {
  display: block;
  clear:both;
  content: '';
}