<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>You are now unsubscribed</title>
<style type="text/css">
<!--
.main {
	text-align: center;
	background-color: #CCC;
	height: 100px;
	width: 400px;
	margin-right: auto;
	margin-left: auto;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 12px;
	padding: 20px;
}
-->
</style>
</head>

<body>
<div class="main">
  <h3>You have been unsubscribed from all the selected newsletters</h3>
</div>
<?php wp_credits(); ?>
</body>
</html>
